@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;400&family=Carter+One&family=Kaushan+Script&family=Montserrat:ital,wght@0,100;0,700;1,200;1,400&family=Pompiere&family=Russo+One&family=Satisfy&display=swap');

*{
    text-align: center;
    box-sizing: border-box;
}


h1 {
    font-family: 'Montserrat', sans-serif; 
    font-weight: bolder;
    color:sandybrown;
    background-color: lightslategray;
    font-display: 25px ;
}


h2, h3 {
    font-family:'Montserrat', sans-serif; 
    color: coral;
}


p{
    font-family:'Pompiere', cursive;
    margin-top: 10px;
}

.row{
    margin: 60px; 
    padding: 45px;
}

.display-4 {
   height: 110px;
   font-kerning: 20px;
   font-size: 80px;
}